@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';


/* Change arrow icon color */
.swiper-button-prev,
.swiper-button-next {
  color: white !important;  /* pink-500 */
}

/* Change arrow size */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 22px !important;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg: rgba(255, 255, 255, 0.8);
  --border-color: rgba(0, 0, 0, 0.1);
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --nav-bg: rgba(20, 20, 20, 0.8);
  --border-color: rgba(255, 255, 255, 0.1);
}

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  background-color: var(--bg-color);
}